[submodule "vim/bundle/vim-rubytest"]
	path = vim/bundle/vim-rubytest
	url = https://github.com/janx/vim-rubytest.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/hardmode"]
	path = vim/bundle/hardmode
	url = git://github.com/wikitopian/hardmode.git
