[submodule "vim/bundle/vim-rubytest"]
	path = vim/bundle/vim-rubytest
	url = https://github.com/janx/vim-rubytest.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
